<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Twitch Profile Panels</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@1.1.3/dist/tailwind.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.12.1/css/all.min.css" rel="stylesheet" />

  <style>
    .bg-black { background-color: #0D1016; }
    abbr[title] { border-bottom: 1px dotted currentColor; text-decoration: none; }
    .ui-panels { background: rgba(0,0,0,0.25); transition: width 1s; }
    .panel-item p,.panel-item h1,.panel-item h2,.panel-item h3,.panel-item h4,.panel-item h5,.panel-item h6,.panel-item hr { margin-bottom: 1rem; }
    .panel-item hr { border-color: currentColor; opacity: .25; }
    .panel-item ul,.panel-item ol { margin-bottom: 1rem; margin-left: 1rem; list-style: disc outside none; }
    .panel-item ol { list-style-type: decimal; }
    .panel-item ul ul,.panel-item ul ol,.panel-item ol ol,.panel-item ol ul { margin-bottom: 0; }
    .panel-item a { color: #63B3ED; }
    .panel-item a:hover,.panel-item a:focus { opacity: .5; text-decoration: underline; }
  </style>

</head>
<body class="bg-black text-gray-600 text-sm">

  <header class="intro py-6 px-4 text-base">
    <div class="mx-auto max-w-5xl relative">
      <h1 class="mb-4 text-2xl md:text-4xl text-purple-700 uppercase flex flex-wrap items-center">
        <i class="fab fa-twitch text-purple-500" role="presentation" aria-label="Twitch"></i>
        <b class="mx-3 text-purple-500">Twitch</b> Profile Panels
      </h1>
      <p class="mb-4">Dear, Twitch you are free to use this... please use this... or hire me to make your profile pages better!</p>
      <ul class="mb-4 ml-4 list-disc">
        <li>Pure <abbr title="Cascading Style Sheet">CSS</abbr>, not dependent on <abbr title="JavaScript">JS</abbr></li>
        <li>Responsive from/to ANY device width</li>
        <li>Consistent, automatic row height</li>
        <li>Every field is optional</li>
        <li>None of that masonry absolute positioning garbage</li>
      </ul>
      <small class="text-xs font-bold text-gray-700">This prototype was built using <a href="https://tailwindcss.com/" class="text-gray-600 hover:text-purple-500 focus:text-purple-500">Tailwind CSS</a> and <a href="https://vuejs.org/" class="text-gray-600 hover:text-purple-500 focus:text-purple-500">Vue.js</a> for the sake of quickness and simplicity</small>
      <div class="ml-auto mt-4 w-6 h-6 md:w-8 md:h-8 md:absolute bottom-0 right-0">
        <a href="https://github.com/craigerskine/twitch-profile-panels" class="text-gray-700 hover:text-white focus:text-white">
          <i class="fab fa-2x fa-github" role="presentation" aria-label="GitHub"></i>
        </a>
      </div>
    </div>
  </header>

  <main class="mx-auto bg-gray-900">
    <ul class="nav-devices p-4 text-center flex flex-wrap justify-center">
      <li class="mx-3 flex"><a href="#" class="bg-purple-600 text-white border border-transparent py-1 px-2 hover:text-white focus:text-white block flex flex-col justify-end items-center rounded" data-width="100%"><i class="fa fa-fw fa-2x fa-arrows-alt-h opacity-50" role="presentation" aria-label="Full width"></i> <b class="block font-normal">full</b></a></li>
      <li class="mx-3 flex"><a href="#" class="border border-transparent py-1 px-2 hover:text-white focus:text-white block flex flex-col justify-end items-center rounded" data-width="1200px"><i class="fa fa-fw fa-2x fa-desktop opacity-50" role="presentation" aria-label="Desktop"></i> <b class="block font-normal">lg</b></a></li>
      <li class="mx-3 flex"><a href="#" class="border border-transparent py-1 px-2 hover:text-white focus:text-white block flex flex-col justify-end items-center rounded" data-width="768px"><i class="fa fa-fw fa-2x fa-laptop opacity-50" role="presentation" aria-label="Laptop"></i> <b class="block font-normal">md</b></a></li>
      <li class="mx-3 flex"><a href="#" class="border border-transparent py-1 px-2 hover:text-white focus:text-white block flex flex-col justify-end items-center rounded" data-width="480px"><i class="fa fa-fw fa-2x fa-mobile-alt opacity-50" role="presentation" aria-label="Mobile"></i> <b class="block font-normal">sm</b></a></li>
      <li class="mx-3 flex"><a href="#" class="border border-transparent py-1 px-2 hover:text-white focus:text-white block flex flex-col justify-end items-center rounded" data-width="320px"><i class="fa fa-fw fa-lg fa-mobile-alt opacity-50" role="presentation" aria-label="Tiny Mobile"></i> <b class="block font-normal">xs</b></a></li>
    </ul>
    <div class="ui-panels panel-container mx-auto pb-16 pb-8 w-full flex flex-wrap justify-center">
      <div class="ui-panels-width mt-2 mb-16 text-gray-700 flex w-full items-center">
        <i class="ml-2 px-px h-6 bg-gray-700 rounded-full"></i>
        <div class="mx-2 py-px bg-gray-700 flex-1 rounded-full"></div>
        <b></b>
        <div class="mx-2 py-px bg-gray-700 flex-1 rounded-full"></div>
        <i class="mr-2 px-px h-6 bg-gray-700 rounded-full"></i>
      </div>
      <div v-for="(value, index) in panels" class="panel-item mx-4 mb-8 p-4 pb-px w-full max-w-xs bg-gray-800 rounded-sm shadow-xl">
        <div v-if="value.heading != ''" v-html="value.heading" class="panel-heading text-2xl font-bold"></div>
        <div v-if="value.image != ''" class="panel-image opacity-50"><p><a href="#"><img :src="'holder.js/'+ value.image +'?text='+ value.image_text +'&outline=yes&auto=yes&bg=#000&fg=#FFF'" :alt="value.image_text" /></a></p></div>
        <div v-if="value.body != ''" v-html="value.body" class="panel-body"></div>
      </div>
    </div>
  </main>

  <footer class="py-8 px-4">
    <p class="foot-info font-bold text-center text-grey text-xs flex flex-wrap items-center justify-center">
      Crafted with
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-2 text-red-600" width="16" height="16" viewBox="0 0 16 16" role="img" aria-labelledby="foot-love">
        <title id="foot-love">Love</title>
        <polygon class="fill-current" fill-rule="evenodd" points="8 6 11 3 15 7 8 14 1 7 5 3" />
      </svg>
      by
      <a href="http://craigerskine.com/" class="mx-2 text-gray-500 hover:text-purple-500 focus:text-purple-500">Craig Erskine</a>
    </p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/jquery/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/holderjs/holder.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>

    $(function(){

      // faux device preview
      $('.nav-devices a').on('click', function(e){
        e.preventDefault();
        $('.nav-devices a').removeClass('bg-purple-600 text-white');
        $(this).addClass('bg-purple-600 text-white');
        $('.ui-panels').css('width', $(this).data('width'));
      });

      // actual container width
      viewport();
      function viewport(){
        setInterval(function(){
          $('.ui-panels-width b').text($('.ui-panels').width() + 'px');
        }, 25);
      }

    });

    // data
    var builder = new Vue({
      el: '.ui-panels',
      data: {
        panels: [
          { heading: '<h2>Heading</h2>', image: '320x160', image_text: 'Image', body: '<p>Body...</p><hr /><ul><li><a href="#">Some Link</a></li><li>Some list item</li></ul>' },
          { heading: '<h3>Heading only...</h3>', image: '', image_text: '', body: '' },
          { heading: '', image: '', image_text: '', body: '<p>Body only...</p>' },
          { heading: '<h3>Heading...</h3>', image: '320x320', image_text: 'Image...', body: '' },
          { heading: '<h3>Heading...</h3>', image: '', image_text: '', body: '<p>Body...</p>' },
          { heading: '', image: '320x50', image_text: 'Image...', body: '<p>Body...</p>' },
          { heading: '', image: '320x160', image_text: 'Image only...', body: '' }
        ],
      }
    });
  </script>

</body>
</html>
